.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background: transparent;
  box-shadow: none;
  position: fixed; /* Set navbar position to fixed */
  top: 0; /* Position navbar at the top of the viewport */
  left: 0;
  right: 0;
  z-index: 999;
}


.navbar-left {
  display: flex;
  align-items: center;
}

.navbar-brand img {
  height: 40px;
}

.navbar-right {
  display: flex;
  align-items: center;
}

.navbar-nav {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-item {
  margin-right: 20px;
}

.nav-link {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  transition: color 0.3s;
}

.nav-link:hover {
  color: #666;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}