body {
  background-color: rgba(245, 245, 220, 0.718);
}
  
  .shop-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px; 
    background-color: rgb(245, 238, 220);
    position: absolute;
    width: 100%;
    z-index: 999;
    top: 10px; 
  }

  .shop-navbar-left {
    display: flex;
    align-items: center;
  }

  .shop-navbar-left .shop-logo {
    position: relative;
    flex: none;	
    margin-right: 15px;
    width: 55px;
    height: 35px;
    object-fit: cover;
    overflow: hidden;
    color: black;
  }

  .shop-navbar-left .shop-navbar-title {
    position: relative;
    flex: none;
    top: -5px;
    margin-right: 5px;
    width: 145px;
    height: 41px;
    color: rgb(0, 0, 0);
    font-family: Prociono;
    font-size: 40px;
    font-weight: 400;
    line-height: 48.80000305175781px;
  }

  .shop-navbar-right {
    display: flex;
    align-items: center;
  }

  .shop-navbar-right .shop-navbar-icon1 {
    position: relative;
    flex: none;
    left: -100px;
    width: 30px;
    height: 23px;
  }

  .shop-section {
      position: relative;
      top: 100px;
      width: 100%;
      height: 130px;
      background-image: url('../public/SignUp_Rectangle1.png');
      background-size: cover;
      background-position: center;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    
    .shop-overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(172, 172, 172, 0.207);
      backdrop-filter: blur(5px);
      text-align: center;
      color: white;
    }
    
    .shop-content {
      z-index: 1;
      text-align: center;
      color: rgb(0, 0, 0);
      margin-top: 180px;
    }
    
    .shop-form {
      max-width: 1200px;
      margin: -2 0px auto;
      border: 2px solid #6d5600;
      padding: 120px 180px;
    }

    .shop-section .shop-text,
    .Home,
    .shop2,
    .Vector,
    .logo1 {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      color: rgba(0, 0, 0, 1);
    }
    
    .shop-section .shop-text {
      top: 40%;
      font-family: Poppins;
      font-size: 28px;
      font-weight: bold;
      line-height: 24px;
    }

    .logo1 {
      position: relative;
      top: -27%;
      left: 15px;
      width: 30px;
      height: 20px;
      object-fit: cover;
      overflow: hidden;
    }

    .Home,
    .shop2 {
      top: 68%;
      font-family: Poppins;
      font-size: 16px;
      font-weight: bold;
      line-height: 24px;
    }
    
    .shop2 {
      left: 52%;
      font-size: 16px;
      font-weight: 500;
    }
    
    .Home {
      left: 48%;
      font-size: 16px;
      font-weight: bold;
    }
    
    .Vector {
      top: 75%;
      width: 8px;
      height: 8px;
    }

    .container1 {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 446px;
      width: 1236px;
      margin-left: 150px;
      margin-top: 160px;
    }

    .container1 .card{
      height: 446px;
      width: 285px;
      position: relative;
      transition: transform 1500ms;
      transform-style: preserve-3d;
      margin: 20px;
    }


    .container2 {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 446px;
      width: 1236px;
      margin-left: 150px;
      margin-top: 90px;
    }

    .container2 .card{
      height: 446px;
      width: 285px;
      position: relative;
      transition: transform 1500ms;
      transform-style: preserve-3d;
      margin: 20px;
    }

    .container3 {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 446px;
      width: 1236px;
      margin-left: 150px;
      margin-top: 90px;
      margin-bottom: 100px;
    }

    .container3 .card{
      height: 446px;
      width: 285px;
      position: relative;
      transition: transform 1500ms;
      transform-style: preserve-3d;
      margin: 20px;
    }

    .card:hover{  
      transform: rotateY(180deg);
    }

    .front,
    .back{
      height: 100%;
      width: 100%;
      border-radius: 2rem;
      position: absolute;
      backface-visibility: hidden;

    }

    .front .image1{
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 2rem;
      }

    .front .image2{
      width: 100%;
      height: 100%;
      object-fit:cover;
      border-radius: 2rem;
    }

    .front .image3{
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 2rem;
      }

    .front .image4{
      width: 100%;
      height: 100%;
      object-fit:cover;
      border-radius: 2rem;
    }

    .front .image5{
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 2rem;
      }

    .front .image6{
      width: 100%;
      height: 100%;
      object-fit:cover;
      border-radius: 2rem;
    }

    .front .image7{
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 2rem;
      }

    .front .image8{
      width: 100%;
      height: 100%;
      object-fit:cover;
      border-radius: 2rem;
    }

    .front .image9{
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 2rem;
      }

    .front .image10{
      width: 100%;
      height: 100%;
      object-fit:cover;
      border-radius: 2rem;
    }

    .front .image11{
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 2rem;
      }

    .front .image12{
      width: 100%;
      height: 100%;
      object-fit:cover;
      border-radius: 2rem;
    }

    .front {
      border: 3px solid rgb(127, 61, 23); 
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  }

  .back {
    background-color: blanchedalmond;
    transform: rotateY(180deg);
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 3px solid rgb(127, 61, 23);
    text-align: center; 
  }
  
  .back-text-1 {
    font-size: 24px;
    margin-bottom: 50px;
  }
  
  .back-text-2 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .add-to-cart-button {
    padding: 10px 20px;
    font-size: 18px;
    background-color: rgb(127, 61, 23);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .add-to-cart-button:hover {
    background-color: #955327;
  }
  
    
    
    